@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-merienda {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-heebo {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
}

.text-shadow {
  text-shadow: "0 0 8px rgba(93, 173, 226, 0.8)";
}
